<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Santiago Fuentes</h1>
        <h3> DevOps Engineer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px">
        <a href="https://linkedin.com/in/sjfuentes" target="_blank">
            <img src="../../assets/linkedin.png" alt="LinkeIn Logo" width="32" height="32"
                class="rounded-circle me-2">
        </a>
        <a href="https://github.com/sjfuentes" target="_blank">
            <img src="../../assets/github.png" alt="GitHub Logo" width="32" height="32"
                class="rounded-circle me-2">
        </a>
    </div>
</div>
