<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/ProfilePicture.png" alt="Santiago Fuentes profile picture" width="256" height="300" class="rounded-circle">
                <p>reignpugbapurgbspeirugbperiugwperubgpwer</p>
            </div>
        </div>
        <!--Feature Project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Feature Project</h2>
                <h4>{{featuredProjects.name}}</h4>
            </div>
            <carousel>
                <div *ngFor="let picture of featuredProjects.pictures">
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>
            <p class="mt-2">{{featuredProjects.summary}}</p>
            <p>Visit the Portfolio section to learn more</p>
        </div>
    </div>
</div>
